:root {
    --primary-color: #808a89;
    --accent-color: #40bdb8;
}
* {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--primary-color);
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    display: flex;
}
a {
    color: var(--accent-color);
    text-decoration: none;
}
.nav-links {
    list-style: none;
}
.nav-link {
    padding: 5px 10px;
}
.nav-link:hover {
    cursor: pointer;
}
.active-link {
    color: var(--accent-color);
    text-decoration: solid 1px var(--accent-color);
}
/* main */
main {
    margin-bottom: 120px;
}

/* about */
.avatar {
    width: 250px;
    border-radius: 50%;
}

/* resume */
.resume-link {
    padding: 5px 10px;
}
.resume-link:hover {
    color: white;
    background-color: var(--accent-color);
    padding: 5px 10px;
    border-radius: 5px;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-content: center;
    align-items: center;
}
footer p {
    margin: 5px 15px;
    padding: auto;
    width: 50%;
}
.footer-links {
    list-style: none;
    display: flex;
    margin: 0;
    width: 50%;
    align-content: flex-start;
}
.footer-icons {
    height: 40px;
    margin: 3px 10px;
}
