:root {
    --primary-color: #808a89;
    --accent-color: #40bdb8;
}
* {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--primary-color);
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    display: flex;
}
a {
    color: var(--accent-color);
    text-decoration: none;
}

/* header */
h1 {
    text-align: center;
}
.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.nav-item {
    margin: auto;
    margin-bottom: 8px;
    align-content: space-around;
}
.nav-link {
    padding: 5px 0 2px;
    font-size: 15px;
    margin: auto;
}
.nav-link:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--accent-color);
}
.active-link {
    color: var(--accent-color);
    text-decoration: solid 1px var(--accent-color);
}
/* main */
#root {
    width: 100%;
}
main {
    margin: auto;
    margin-bottom:50px;
    width: 90%;
    display: flex;
}

main div {
    width: 100%;
}

h2 {
    text-align: center;
}

/* about */
.about-content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.about-img {
    margin: auto;
    display: flex;
    align-content: center;
}
.avatar {
    width: 100%;
    border-radius: 50%;
    margin: auto;
}

/* projects */
.project-card {
    border-bottom: var(--primary-color) solid 1px;
    margin-bottom: 50px;
}
.project-card:last-of-type {
    border-bottom: none;
}
.project-img {
    width: 100%;
    border-radius: 8px;
    border: var(--primary-color) 1px solid;
}
.card-title {
    display: flex;
    align-items: center;
    width: 100%;
}
.project-title {
    margin: 10px 0;
    width: 75%;
}
.project-links {
    width: 25%;
}
.project-link-icon {
    height: 23px;
    border-radius: 50%;
    padding: 8px;
}
.project-link-icon:hover {
    box-shadow: 0px 0px 3px var(--primary-color);
}

/* contact */
#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
#contact-form div {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
}

#contact-form input, 
#contact-form textarea {
    margin: 5px 0 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

#contact-form input:focus, 
#contact-form textarea:focus {
    outline: none;
    border: 1.5px solid var(--accent-color);
}

.submit-btn {
    background-color: var(--primary-color);
    padding: 8px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.submit-btn:hover {
    background-color: var(--accent-color);
}

.submit-btn:active {
    transform: translateY(1.5px);
}

.error-msg p {
    color: #ab3a2b;
    font-style: italic;
}

/* resume */
.proficiencies {
    display: flex;
    flex-direction: column;
}

.skills ul, .tools ul {
    list-style: circle;
}

.skills ul li:hover, .tools ul li:hover {
    color: var(--accent-color);
}

.resume {
    text-align: center;
}

.resume-link {
    padding: 5px 10px;
    margin: auto;
}

.resume-link:hover {
    color: white;
    background-color: var(--accent-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.resume-link:active {
    transform: translateY(1.5px);
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
}
footer p {
    margin: 5px 15px 10px;
    padding: auto;
    font-size: 12px;
    order: 2;
}
.footer-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 5px 0 0;
}
.footer-icons {
    height: 40px;
    margin: 3px 10px;
}

@media screen and (min-width: 420px){
    .nav-link {
        font-size: 20px;
    }
    .avatar {
        width: 90%;
    }
    .about-bio p {
        font-size: 20px;
    }
}

@media screen and (min-width: 575px) {
    #root {
        width: 95%;
        margin: auto;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
    }
    .project-title {
        width: 82%;
    }
    .project-links {
        width: 18%;
    }
    footer p {
        font-size: 15px;
    }
}
